


.grid {
    
     &__skew-light-one {
        -webkit-clip-path: polygon(0 60%, 0% 100%, 23% 100%);
        clip-path: polygon(0 60%, 0% 100%, 23% 100%);
        background-color:  $color-small-box;
        grid-column: 1/14;
        grid-row: 1/6;
        }
    
}

.grid {
    

    
    &__skew-dark-two {
        z-index: -10;
        background-color:  $color-big-box;
        grid-column: 1/7;
        grid-row: 1/6;
        -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);

    }
}