.clock {
    grid-row: 5/6;
    grid-column: 2/13;
    background-color: $color-gray-one;
    width: 100%;
    align-content: center;
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    margin-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    

    &__box {
        margin-top:24px;
        display: flex;
        flex-direction: column;
         
        
    }

    &__title {
        text-align: left;
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
        font-family: $font-roboto;
        

    }
    &__amount{
        font-size: 50px;
        font-weight: bold;
        line-height: 115px;
        color: white;
        font-family: $font-roboto;
    }
    

}